@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

:root {
  --post-it-yellow: #FFFF99;
  --leather-brown: #501b00;
  --leather-border: #401600;
  --book-form-text: #ebe2be;
}

html, body {
  font-family: 'Cutive Mono', monospace;
  font-size: 20px;
  margin: 0;
}

p {
  margin: 0;
}

#add-book-section {
  width: 300px;
  height: 75vh;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid var(--leather-border);
  border-radius: 5px;
  color: var(--book-form-text);
  transition: transform 0.5s ease-in;
  background-color: var(--leather-brown);
  background-image: url(images/large-leather.png);
}

#add-book-form {
  position: absolute;
  padding: 60px;
  left: 0;
  font-weight: 900;
}

#add-book-section.hidden {
  transform: translateX(-95%);
}

#add-book-button {
  font-family: inherit;
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: var(--post-it-yellow);
  border: none;
  margin-left: 2px;
  padding: 16px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#form-submit {
  font-family: inherit;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  margin-top: 20px;
}

#form-submit:hover {
  color: var(--post-it-yellow);
  font-weight: 900;
}

#library-set {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 60px;
}

.book-info {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(5, 1fr);
  text-align: center;
  background: rgb(235,226,190);
  background: linear-gradient(180deg, rgba(235,226,190,1) 40%, rgba(236,231,210,1) 75%);
  -webkit-box-shadow: 2px 1px 4px 1px rgba(35,26,3,0.25); 
  box-shadow: 2px 1px 4px 1px rgba(35,26,3,0.25);
  border-radius: 10px;
  height: 350px;
  min-width: 210px;
  margin: 10px;
  padding: 20px 10px;
  font-size: 1rem;
}

/* .book-info p {
  padding: 2px 0;
} */

.book-info span {
  border-right: 4px double black;
}

.book-info .title {
  border-bottom: 1px solid black;
  width: 100%;
  font-weight: 900;
}

.book-info .author {
  border-bottom: 4px double black;
  width: 100%;
}

button {
  cursor: pointer;
}
/* 
.book-info p.have-not-read-icon, .book-info p.have-read-icon {
  /* padding-bottom: 90px; */
  /* margin-top: -20px;
  cursor: pointer;
} */

.read {
  margin-top: -20px;
  cursor: pointer;
}

.have-not-read-icon {
  background: url(images/label.png) no-repeat 50% 50%;
  background-size: auto 75px;
}

.have-not-read-icon:hover {
  background: url(images/label-red.png) no-repeat 50% 50%;
  background-size: auto 75px;
}

.have-read-icon {
  background: url(images/check.png) no-repeat 50% 50%;
  background-size: auto 75px;
}

.have-read-icon:hover {
  background: url(images/check-green.png) no-repeat 50% 50%;
  background-size: auto 75px;
}

.delete-button {
  grid-column: 1/3;
  grid-row: 5;
  background-color: transparent;
  margin-top: 32px;
  border: none;
  font-family: inherit;
  font-size: 1rem;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
}

.attribution a {
  color: inherit;
  text-decoration: none;
}

.attribution a:hover {
  color: var(--post-it-yellow);
}

/* Media Queries */

@media only screen and (max-width: 1200px) {
  #library-set {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1024px) {
  #library-set {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  #library-set {
    grid-template-columns: 1fr;
  }
}